<ion-view view-title="Detail">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        <p>Entered word is in {{lang}} :
          <b ng-if="lang!='romontsch'">{{word.deutsch}}</b>
          <b ng-if="lang=='romontsch'">{{word.franz}}</b>
        </p>
        <br>

        <div class="list">
          <div class="item">
            <div class="translation-header">Deutsch:</div>
            <div class="translation-content">
              {{word.deutsch}}</b>
              <i ng-if="word.sound" class="icon ion-volume-medium"></i>
            </div>
          </div>
          <div class="item">
            <div class="translation-header">Romontsch:</div>
            <div class="translation-content">
              {{word.franz}}</b>
              <i ng-if="word.sound" class="icon ion-volume-medium"></i>
            </div>
          </div>
          <div class="item">
            <div class="translation-header">Synonym:</div>
            <div class="translation-content">
              {{word.synonym}}</b>
            </div>
          </div>
          <div class="item">
            <div class="translation-header">Antonym:</div>
            <div class="translation-content">
              {{word.antonym}}</b>
            </div>
          </div>
        </div>

      </div>
    </div>
  </ion-content>
</ion-view>
