<ion-view view-title="Home">
  <ion-content class="padding with-background">
    <br>
    <br>
    <center>
      <h3 class="white">Herzlich Willkommen!</h3>
      <h3 class="white">Cordial beinvegni!</h3>
    </center>
    <br>
    <br>
    <br>
    <br>
    <br>
    <a class="button button-block button-positive" href="#/search/deutsch">
      Deutsch - Romontsch
    </a>
    <a class="button button-block button-positive" href="#/search/romontsch">
      Romontsch - Deutsch
    </a>
  </ion-content>
</ion-view>
